
<body>
  <h2> COSI 133b Admin Page </h2>
   <p><b>If you have any questions about or issues with this website, email Ken Harsch at <a href="mailto:kharsch@brandeis.edu"><FONT color=#0000FF>kharsch@brandeis.edu</FONT></a> or stop by my office at Volen 111. </b></p>


<% if current_user.admin? %>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<h3>User Statistics</h3>
<table class="table table-striped" 
  <thead>
    <tr>
     <tr>
      <th>Name</th>
      <th>Nickname</th>
      <th>Sign-ins</th>
      <th>Comments</th>
      <th>Post Reads</th>
      <th>Post Edits</th>
    </tr>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr data-item-id=<%= "#{user.id}" %> class="item">
        <td><%= user.name %></td>
        <td><%= user.nickname %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.comments.count %></td>
        <td><%= ::Ahoy::Event.where(user_id: user.id, name: "Visited Post").count %></td>
        <td><%= ::Ahoy::Event.where(user_id: user.id, name: "Edited Post").count %></td>
      </tr>
    
    <% end %>
    
  </tbody>
  
</table>


<h3> User Delta Scores </h3>
<table class="table table-striped" 
  <thead>
    <tr>
     <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Delta Score</th>
      <th>Row Order Updates</th>
      <th>Post Visits</th>
    </tr>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.nickname %></td>
        <td><%= user.delta %></td>
        <td><%= ::Ahoy::Event.where(user_id: user.id, name: "Updated Row Order").count %></td>
        <td><%= ::Ahoy::Event.where(user_id: user.id, name: "Visited Post").count %></td>
      </tr>
    
    <% end %>
    
  </tbody>
  
</table>

<h3> User Delta Scores Wiki 1 </h3>
<table class="table table-striped" 
  <thead>
    <tr>
     <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Delta Score</th>
    </tr>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.nickname %></td>
        <td><%= user.delta %></td>
      </tr>
    
    <% end %>
    
  </tbody>
  
</table>



<% else %>
<h2>You cannot access this page.</h2>

<% end %>




