<h2>Comment Coding for Group <%= @group.id %></h2>
<b>Comments ordered in ascending order of time of creation.</b>
<br><br>


 	<% @comments.each do |comment| %>
	<p>
        <% @comment = Comment.find(comment.id) %>
		<b>Commenter:</b><%= comment.commenter %>&nbsp&nbsp
		<b>Post Author:</b><%= comment.post.user_nickname %>&nbsp&nbsp
		<b>Comment Time:</b><%= comment.created_at %>
    	<div class="boxed">
    		<%= comment.body %>
  		</div>
  	</p>
        <%= form_for @comment, remote: true, :url => {:action => "update", :controller=>"comments", :id => @comment}  do |ff| %>
  		
 			<div class="field">
    		</p>
    			<h4>Critical Thinking</h4>
                <p><b>Assessed based on evidence of the following: </b></p>
                <p><b>Clarification -</b> The attempt to appraise and understand the exact nature of the problem.</p>
                <p><b>Assessing evidence -</b> Evidence used to support inferences is assessed (credibility of sources, credibility of observations). </p>
                <p><b>Making and judging inferences -</b> Inductive, deductive inferences and value judgements. Includes using evidence to support arguments.</p>
                <p><b>Using appropriate strategies and tactics -</b> Evaluation of the adequacy of information and procedures for drawing conclusions and/or solving problems.</p>
    			<%= ff.check_box :crit_low %>&nbsp&nbsp
                <%= ff.label :crit_low, "Low" %>
    			<%= ff.check_box :crit_med %>&nbsp&nbsp
    			<%= ff.label :crit_med, "Medium" %>
    			<%= ff.check_box :crit_high %>&nbsp&nbsp
                <%= ff.label :crit_high, "High" %>
    		</p>
    			<h4>Interaction</h4>
    			<%= ff.check_box :interaction_independent %>&nbsp&nbsp
                <%= ff.label :interaction_independent, "Independent: " %>message makes no reference to other student’s messages.<p>
                <%= ff.check_box :interaction_quasi_int %>&nbsp&nbsp
    			<%= ff.label :interaction_quasi_int, "Quasi-Interactive: " %>message refers to other student’s messages, but only as a preliminary point of reference before student continues with their own isolated analysis.<p>
    			<%= ff.check_box :elaborative %>&nbsp&nbsp
    			<%= ff.label :elaborative, "Interactive (elaborative): " %>message refers to another student’s message andfurther develops the theme.<p>
    			<%= ff.check_box :negotiating %>&nbsp&nbsp
    			<%= ff.label :negotiating, "Interactive (negotiating): " %>message refers to another student’s message and engages in negotiation or debate.<p>
    			
    		</p>

  			</div>
            <div class="actions">
            <%= ff.submit "Save Coding", :onclick => "alert('Successfully Saved!')" %>
            </div>
  			<br><br>
		<% end %> 

	
	
	
<% end %>
