<h2>Comment Coding for Group <%= @group.id %></h2>
<b>Comments ordered in ascending order of time of creation.</b>
<br><br>


 	<% @comments.each do |comment| %>
	<p>
        <% @comment = Comment.find(comment.id) %>
		<b>Commenter:</b><%= comment.commenter %>&nbsp&nbsp
		<b>Post Author:</b><%= comment.post.user_nickname %>&nbsp&nbsp
		<b>Comment Time:</b><%= comment.created_at %>
    	<div class="boxed">
    		<%= comment.body %>
  		</div>
  	</p>
        <%= form_for @comment, remote: true, :url => {:action => "update", :controller=>"comments", :id => @comment}  do |ff| %>
  		
 			<div class="field">
 				<h4>Kens' Coding</h4>
    			<%= ff.label :shallow %>
    			<%= ff.check_box :shallow %>&nbsp&nbsp
    			<%= ff.label :grammatical %>
    			<%= ff.check_box :grammatical %>&nbsp&nbsp
    			<%= ff.label :challenge %>
    			<%= ff.check_box :challenge %>&nbsp&nbsp
    			<%= ff.label :quote %>
    			<%= ff.check_box :quote %>&nbsp&nbsp
    			<%= ff.label :reply %>
    			<%= ff.check_box :reply %>&nbsp&nbsp
    			<%= ff.label :author %>
    			<%= ff.check_box :author %>&nbsp&nbsp
    			<%= ff.label :analytical %>
    			<%= ff.check_box :analytical %>
    		</p>
    			<h4>Critical Thinking</h4>
    			<%= ff.label :crit_low, "Low" %>
    			<%= ff.check_box :crit_low %>&nbsp&nbsp
    		    <%= ff.label :crit_med, "Medium" %>
    			<%= ff.check_box :crit_med %>&nbsp&nbsp
    			<%= ff.label :crit_high, "High" %>
    			<%= ff.check_box :crit_high %>&nbsp&nbsp
    		</p>
    			<h4>Interaction</h4>
    			<%= ff.label :interaction_independent, "Independent" %>
    			<%= ff.check_box :interaction_independent %>&nbsp&nbsp
    			<%= ff.label :interaction_quasi_int, "Quasi-Interactive" %>
    			<%= ff.check_box :interaction_quasi_int %>&nbsp&nbsp
    			<%= ff.label :elaborative, "Interactive(elaborative)" %>
    			<%= ff.check_box :elaborative %>&nbsp&nbsp
    			<%= ff.label :negotiating, "Interactive(negotiating)" %>
    			<%= ff.check_box :negotiating %>&nbsp&nbsp
    		</p>
    			<h4>Interactive 2</h4>
    			<%= ff.label :actv, "Active" %>
    			<%= ff.check_box :actv %>&nbsp&nbsp
    			<%= ff.label :exrtv, "Explicit Reactive" %>
    			<%= ff.check_box :exrtv %>&nbsp&nbsp
    			<%= ff.label :imrtv, "Implicit Reactive" %>
    			<%= ff.check_box :imrtv %>&nbsp&nbsp
    			<%= ff.label :egintv, "Engaging Interactive" %>
    			<%= ff.check_box :egintv %>&nbsp&nbsp
    			<%= ff.label :inctv, "Interactive" %>
    			<%= ff.check_box :inctv %>&nbsp&nbsp

  			</div>
            <div class="actions">
            <%= ff.submit "Save Coding", :onclick => "alert('Successfully Saved!')" %>
            </div>
  			<br><br>
		<% end %> 

	
	
	
<% end %>
